/* CSS Document */
/* line 5, ../sass/style.scss */
html, body {
  font-family: 'Source Sans Pro';
  width: 100%;
  height: 100%;
}

/* line 11, ../sass/style.scss */
.container {
  width: 100%;
  padding: 0;
}

/* line 16, ../sass/style.scss */
.navigation {
  position: fixed;
  z-index: 1;
  top: 20px;
}
/* line 20, ../sass/style.scss */
.navigation li {
  color: #333333;
  display: block;
  padding: 0 10px;
  line-height: 30px;
  margin-bottom: 2px;
  font-weight: bold;
  -webkit-transition: all .2s ease-in-out;
  border-bottom: 1px solid black;
  text-align: left;
  width: 53px;
}
/* line 31, ../sass/style.scss */
.navigation li:hover {
  font-size: 25px;
  cursor: pointer;
  width: 100px !important;
}

/* line 39, ../sass/style.scss */
.active {
  font-size: 25px;
  cursor: pointer;
  width: 100px !important;
}

/* line 45, ../sass/style.scss */
.envatologo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 446px;
  margin-top: -41px;
  margin-left: -223px;
  z-index: 1;
}

/* line 55, ../sass/style.scss */
.slide {
  /*background-attachment: fixed;*/
  width: 100%;
  position: relative;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
}

/* line 63, ../sass/style.scss */
.wrapper {
  width: 960px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

/* line 70, ../sass/style.scss */
.slideno {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 100px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
}

/* line 79, ../sass/style.scss */
.button {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  background-color: #333333;
  background-image: url(../images/arrow.png);
}
/* line 88, ../sass/style.scss */
.button:hover {
  background-color: #494949;
  cursor: pointer;
}

/******************************
SLIDE 1 
 *******************************/
/* line 98, ../sass/style.scss */
#slide1 {
  background-color: #5c9900;
}

/******************************
SLIDE 2 
 *******************************/
/* line 106, ../sass/style.scss */
#slide2 {
  background-color: #005c99;
}
/* line 109, ../sass/style.scss */
#slide2 img:first-child {
  position: absolute;
  top: 700px;
  left: -150px;
}
/* line 114, ../sass/style.scss */
#slide2 img:nth-child(2) {
  position: absolute;
  top: 300px;
  left: 100px;
}
/* line 119, ../sass/style.scss */
#slide2 img:nth-child(3) {
  position: absolute;
  top: 600px;
  left: 300px;
}
/* line 124, ../sass/style.scss */
#slide2 img:nth-child(4) {
  position: absolute;
  top: 400px;
  left: 300px;
}
/* line 129, ../sass/style.scss */
#slide2 img:nth-child(5), #slide2 img:nth-child(6) {
  position: absolute;
  top: 600px;
  right: 300px;
}
/* line 134, ../sass/style.scss */
#slide2 img:nth-child(7) {
  position: absolute;
  top: 400px;
  right: 100px;
}
/* line 139, ../sass/style.scss */
#slide2 img:nth-child(8) {
  position: absolute;
  top: 100px;
  right: 300px;
}

/******************************
SLIDE 3 
 *******************************/
/* line 151, ../sass/style.scss */
#slide3 {
  background-color: #b6c10b;
}
/* line 154, ../sass/style.scss */
#slide3 img:first-child {
  position: absolute;
  top: 700px;
  left: 300px;
}
/* line 159, ../sass/style.scss */
#slide3 img:nth-child(2) {
  position: absolute;
  top: 100px;
  left: 100px;
}
/* line 164, ../sass/style.scss */
#slide3 img:nth-child(3) {
  position: absolute;
  top: 150px;
  left: 300px;
}
/* line 169, ../sass/style.scss */
#slide3 img:nth-child(4) {
  position: absolute;
  top: 450px;
  left: 300px;
}
/* line 174, ../sass/style.scss */
#slide3 img:nth-child(5) {
  position: absolute;
  top: 200px;
  right: 300px;
}
/* line 179, ../sass/style.scss */
#slide3 img:nth-child(6) {
  position: absolute;
  top: 100px;
  right: 300px;
}

/******************************
SLIDE 4 
 *******************************/
/* line 191, ../sass/style.scss */
#slide4 {
  background-image: url(../images/Slide4/desktop4.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 197, ../sass/style.scss */
#slide4 .parallaxbg {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 28px;
  color: rgba(51, 51, 51, 0.3);
}

/******************************
Custom
 *******************************/
/*@media screen and (min-width: 800px) and (max-width: 1280px){*/
@media screen and (min-width: 992px) {
  /* line 215, ../sass/style.scss */
  body {
    font-family: Source Sans Pro;
    font-weight: 300;
    font-style: normal;
  }

  /* line 221, ../sass/style.scss */
  .container-fluid {
    padding: 0px;
    min-width: 800px;
  }

  /* line 226, ../sass/style.scss */
  .btn-default {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Lato;
    font-size: 30px;
    padding: 5px 25px;
    border: 3px solid #fff;
    background-color: #fff;
    color: #384466;
  }
  /* line 238, ../sass/style.scss */
  .btn-default:hover, .btn-default:focus {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff;
  }

  /* line 272, ../sass/style.scss */
  h1 {
    font-family: Lato, George;
    font-size: 60px;
  }

  /* line 277, ../sass/style.scss */
  h2 {
    font-family: Source Sans Pro, George;
    font-size: 40px;
  }

  /* line 282, ../sass/style.scss */
  .slide {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Source Sans Pro, George;
    font-weight: 300;
    color: #fff;
    position: relative;
    min-height: 100%;
  }

  /* line 293, ../sass/style.scss */
  .navigation {
    display: none;
  }

  /* line 297, ../sass/style.scss */
  .slide .content_container {
    position: relative;
    padding: 50px 30px;
    margin: 0px;
    font-size: 20px;
    font-family: Source Sans Pro, Open Sans;
    font-weight: 300;
    min-height: 100%;
    height: 100%;
    /*overflow: hidden;*/
  }
  /* line 307, ../sass/style.scss */
  .slide .content_container .note {
    background-color: #fff;
    padding: 5px 10px;
    margin: 20px 0px;
    max-width: 700px;
    font-family: Source Sans Pro, Open Sans;
    color: #384466;
    font-size: 20px;
  }
  /* line 315, ../sass/style.scss */
  .slide .content_container .note .emphasis {
    font-weight: 800;
  }

  /* line 323, ../sass/style.scss */
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  /* line 331, ../sass/style.scss */
  .clearfix {
    display: inline-block;
  }

  /* start commented backslash hack \*/
  /* line 333, ../sass/style.scss */
  * html .clearfix {
    height: 1%;
  }

  /* line 334, ../sass/style.scss */
  .clearfix {
    display: block;
  }

  /* close commented backslash hack */
  /******************************
  MAIN 
   *******************************/
  /* line 342, ../sass/style.scss */
  #main {
    background: url(../images/handwithphone.png) no-repeat bottom right, url(../images/background/main.jpg);
  }
  /* line 348, ../sass/style.scss */
  #main .handwithphone {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 550px;
    z-index: 99;
  }
  /* line 358, ../sass/style.scss */
  #main #description {
    min-width: 415px;
    margin-top: 120px;
    position: relative;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 20px;
  }
  /* line 367, ../sass/style.scss */
  #main #description #project_title {
    font-size: 20px;
    font-weight: 300;
  }
  /* line 373, ../sass/style.scss */
  #main #description #app_name {
    margin: 10px 0px;
  }
  /* line 377, ../sass/style.scss */
  #main #description #project_description {
    font-size: 30px;
    font-weight: 300;
  }
  /* line 380, ../sass/style.scss */
  #main #description #project_description .emphasis {
    font-weight: 800;
  }

  /* line 388, ../sass/style.scss */
  #survey {
    background-image: url(../images/background/survey.jpg);
  }
  /* line 392, ../sass/style.scss */
  #survey .reports img {
    margin-top: 15px;
  }
  /* line 394, ../sass/style.scss */
  #survey .reports img#survey_note {
    position: absolute;
    left: 525px;
    top: 20px;
  }
  /* line 400, ../sass/style.scss */
  #survey .reports img#survey_report, #survey .reports img#stats, #survey .reports img#survey_note {
    width: 80%;
  }
  /* line 406, ../sass/style.scss */
  #survey .other_reports {
    padding-top: 130px;
  }
  /* line 409, ../sass/style.scss */
  #survey .other_reports button {
    margin-bottom: 20px;
    margin-right: 50px;
  }

  /* line 417, ../sass/style.scss */
  .stat_container {
    margin-top: 20px;
    float: left;
  }
  /* line 421, ../sass/style.scss */
  .stat_container .speech_module {
    float: left;
    margin-right: 20px;
    margin-top: 20px;
  }
  /* line 425, ../sass/style.scss */
  .stat_container .speech_module .speech {
    color: #384466;
    position: relative;
    width: 150px;
    height: 120px;
    padding: 10px;
    /*line-height: 100px;*/
    background-color: #fff;
    /*border: 8px solid #666;*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-weight: bold;
  }
  /* line 440, ../sass/style.scss */
  .stat_container .speech_module .speech:before {
    /*  content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;*/
  }
  /* line 450, ../sass/style.scss */
  .stat_container .speech_module .speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 120px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
  }
  /* line 461, ../sass/style.scss */
  .stat_container .speech_module .num {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 45px;
    font-family: lato;
  }
  /* line 469, ../sass/style.scss */
  .stat_container .survey_action {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
  }

  /* line 478, ../sass/style.scss */
  .survey_report_container img#deals {
    position: absolute;
    top: -220px;
    left: 100px;
  }
  /* line 484, ../sass/style.scss */
  .survey_report_container img#survey_report {
    margin-top: 40px;
    width: 100%;
  }

  /* line 490, ../sass/style.scss */
  #competitiveanaylsis {
    background-color: #353b42;
  }
  /* line 492, ../sass/style.scss */
  #competitiveanaylsis .competitors img {
    width: 100%;
  }
  /* line 496, ../sass/style.scss */
  #competitiveanaylsis .competitor_1, #competitiveanaylsis .competitor_2 {
    margin-top: 100px;
  }
  /* line 502, ../sass/style.scss */
  #competitiveanaylsis #westfield_img, #competitiveanaylsis #simon_img {
    padding: 0px;
    margin-bottom: 20px;
  }
  /* line 506, ../sass/style.scss */
  #competitiveanaylsis .emphasis {
    font-weight: 500;
  }
  /* line 509, ../sass/style.scss */
  #competitiveanaylsis .description {
    padding: 0px 0px 0px 10px;
  }
  /* line 513, ../sass/style.scss */
  #competitiveanaylsis ul {
    padding: 0px;
    margin-top: 10px;
  }
  /* line 517, ../sass/style.scss */
  #competitiveanaylsis ul li {
    list-style-type: none;
    white-space: nowrap;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
    line-height: 24px;
  }
  /* line 523, ../sass/style.scss */
  #competitiveanaylsis ul li.thumbup {
    background-position: 0 0;
  }
  /* line 527, ../sass/style.scss */
  #competitiveanaylsis ul li.thumbdown {
    background-position: 0 -70px;
  }

  /* line 538, ../sass/style.scss */
  #persona {
    background-color: #57618e;
  }
  /* line 541, ../sass/style.scss */
  #persona #persona_container {
    background-repeat: no-repeat;
    background-size: 2px 100%;
    background-image: #f1efe7;
    /* Old browsers */
    background-image: -moz-linear-gradient(top, #f1efe7 0%, #f1efe7 100%);
    /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1efe7), color-stop(100%, #f1efe7));
    /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f1efe7 0%, #f1efe7 100%);
    /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f1efe7 0%, #f1efe7 100%);
    /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #f1efe7 0%, #f1efe7 100%);
    /* IE10+ */
    background-image: linear-gradient(to bottom, #f1efe7 0%, #f1efe7 100%);
    /* W3C */
    margin-left: 0;
    background-position: 50% 0px;
  }
  /* line 555, ../sass/style.scss */
  #persona .persona {
    min-height: 300px;
  }
  /* line 557, ../sass/style.scss */
  #persona .persona .user_quote {
    font-size: 32px;
    line-height: 40px;
    min-height: 150px;
  }
  /* line 564, ../sass/style.scss */
  #persona .persona .user_title {
    margin: 20px 0;
  }

  /* line 571, ../sass/style.scss */
  #userflow {
    background-image: url(../images/background/userflow.jpg);
  }
  /* line 575, ../sass/style.scss */
  #userflow #userflow_chart img {
    width: 100%;
  }
  /* line 581, ../sass/style.scss */
  #userflow #scenarios, #userflow #userflow_chart {
    margin-top: 50px;
  }
  /* line 585, ../sass/style.scss */
  #userflow .scenario {
    margin-bottom: 50px;
  }
  /* line 586, ../sass/style.scss */
  #userflow .scenario.first {
    margin-top: -20px;
  }

  /* line 594, ../sass/style.scss */
  #usability_1 {
    background-image: url(../images/background/usability_1.jpg);
  }
  /* line 596, ../sass/style.scss */
  #usability_1 #usability_report_1 {
    background: rgba(0, 0, 0, 0.7);
    min-height: 500px;
    padding: 50px 60px 50px 25px;
  }
  /* line 601, ../sass/style.scss */
  #usability_1 #usability_report_1 ul li {
    line-height: 50px;
  }
  /* line 605, ../sass/style.scss */
  #usability_1 #usability_report_1 #uservoice {
    margin-top: 20px;
  }
  /* line 607, ../sass/style.scss */
  #usability_1 #usability_report_1 #uservoice #clickme_btn {
    position: relative;
    top: -30px;
  }
  /* line 613, ../sass/style.scss */
  #usability_1 #sketch {
    position: absolute;
  }
  /* line 616, ../sass/style.scss */
  #usability_1 #sketch img {
    width: 80%;
  }

  /* line 624, ../sass/style.scss */
  #wireframe_1 {
    background-image: url(../images/background/wireframe_1.jpg);
  }
  /* line 627, ../sass/style.scss */
  #wireframe_1 #wireframe_description {
    /*@include vcenter;*/
    font-size: 60px;
    text-align: center;
    margin-top: 30%;
  }

  /* line 635, ../sass/style.scss */
  #usability_2 {
    background-image: url(../images/background/usability_2.jpg);
  }
  /* line 639, ../sass/style.scss */
  #usability_2 #founding_2 {
    margin-top: 70px;
  }
  /* line 641, ../sass/style.scss */
  #usability_2 #founding_2 ul li {
    line-height: 50px;
  }
  /* line 644, ../sass/style.scss */
  #usability_2 #founding_2 #quote {
    margin-top: 60px;
  }
  /* line 646, ../sass/style.scss */
  #usability_2 #founding_2 #quote p {
    font-size: 30px;
    font-weight: 500;
  }
  /* line 650, ../sass/style.scss */
  #usability_2 #founding_2 #quote #quote_pointer {
    position: relative;
    left: 160px;
    top: -30px;
  }
  /* line 657, ../sass/style.scss */
  #usability_2 .video {
    margin-top: 70px;
  }

  /* line 664, ../sass/style.scss */
  #refine {
    background: url(../images/background/wireframe-lofi.jpg) no-repeat 50%, url(../images/background/wireframe_bg_dot.png) repeat;
  }
  /* line 670, ../sass/style.scss */
  #refine #refine_description {
    /*@include vcenter;*/
    margin-top: 10%;
    font-size: 60px;
    text-align: center;
  }

  /* line 679, ../sass/style.scss */
  #conclusion {
    background-color: #353b42;
  }
  /* line 681, ../sass/style.scss */
  #conclusion #conclusion {
    margin-top: 70px;
    font-size: 24px;
  }
  /* line 684, ../sass/style.scss */
  #conclusion #conclusion .emphasis {
    font-weight: 800;
  }
  /* line 688, ../sass/style.scss */
  #conclusion #interactive_prototype {
    margin-top: 70px;
  }
}
