@charset "utf-8";

/* CSS Document */

html, body {
    font-family: 'Source Sans Pro';
    width: 100%;
    height: 100%;
    font-family: Source Sans Pro;
    font-weight: 300;
    font-style: normal;
}

.container-fluid {
    padding: 0px;
    min-width: 320px;
    overflow-x: hidden;
}


.slide {
    /*background-attachment: fixed;*/
    width: 100%;
    //min-height: 100%;
    position: relative;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.btn-default {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    font-weight: bold;
    font-family: Lato;
    font-size: 30px;
    padding: 5px 25px;

    border: 3px solid #fff;
    background-color: #fff;
    color: #384466;
    &:hover,&:focus {
        background-color: transparent;
        border: 3px solid #fff;
        color: #fff;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
 }
 .clearfix { display: inline-block; }
 /* start commented backslash hack \*/
 * html .clearfix { height: 1%; }
 .clearfix { display: block; }
 /* close commented backslash hack */


@mixin vcenter {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

@mixin bgstyle {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@mixin emphasis {
    font-weight: 800;
}





/******************************
Custom
 *******************************/
/******************************************************************************************
Begin Iphone portrate minwidth: 0px maxwidth: 320px
 *******************************************************************************************/
/*@media screen and (min-width: 800px) and (max-width: 1280px){*/
$min-width: 320px;
$max-width: 320px;
$min-height: 480px;
@media screen and (min-width: $min-width) and (max-width: $max-width){
    $max_slide_height: 800px;

        .container-fluid {
        padding: 0px;
        min-width: $min-width;
        max-width: $max-width;
        // overflow: hidden;
    }

    h1 {
        font-family: Lato, George;
        font-size: 30px;
    }

    h2 {
        font-family: Source Sans Pro, George;
        font-size: 24px;
    }

    .slide {
        @include bgstyle;
        font-family: Source Sans Pro, George;
        font-weight: 300;
        color: #fff;
        position: relative;
        min-height: 100%;
        //max-height: $max_slide_height;

        .content_container {
            position: relative;
            padding: 10px;
            margin: 0px;
            font-size: 20px;
            font-family: Source Sans Pro, Open Sans;
            font-weight: 300;
            min-height: 100%;
            height: 100%;
            /*overflow: hidden;*/
            .note {
                background-color: #fff;
                padding: 5px 10px;
                margin: 20px 0px;
                max-width: 700px;
                font-family: Source Sans Pro, Open Sans;
                color: #384466;
                font-size: 20px;
                .emphasis {
                    @include emphasis;
                }
            }
        }

    }







    /******************************
     MAIN 
    *******************************/

    #main {
        background: 
            /*url(../images/handwithphone.png) no-repeat bottom right/40% 60%,*/
            url(../images/handwithphone.png) no-repeat bottom right/320px 480px,
            url(../images/background/main.jpg); 

        .content_container {
            padding:0px;    
        }

        .handwithphone {
            display: block;
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 550px;
            z-index: 99;
        }


        #description {
            // width: 50%;
            min-width: $min-width;
            min-height: $min-height;
            // margin-top: 120px;
            position: relative;            
            background: rgba(00, 00, 00, 0.5); 
            padding: 15px 20px;

            #project_title {
                font-size: 15px;
                font-weight: 300;
            }

            #app_name {
                margin: 10px 0px; 
                img {
                    width: 280px;
                }
            }

            #project_description {
                font-size: 25px;
                font-weight: 300;
                .emphasis {
                    @include emphasis;
                }
            }

        }
    }


    /******************************
     SURVEY
    *******************************/
    #survey {
        background-image: url(../images/background/survey.jpg);

        .reports {
            #survey_note {
                    // position: absolute;
                    // left: 160px !important;
                    // top: 20px !important;
                    background-color: rgba(00,00,00,0.7);
                    padding:10px;
                    img {
                        width: 240px;
                    }
                }

            img {
                margin-top:15px;
                
                &#survey_report, &#stats, &#survey_note {
                    width: 100%;
                }
            }
        }

        .other_reports {
            padding-top: 20px;
            
            p {
                display: none;
            }

            button {
                width: 100%;
                margin-bottom: 20px;
                margin-right: 50px;
            }
        }

    }

    .stat_container {
        margin-top: 20px;
        float: left;

        .speech_module {
            float: left;
            margin-right: 20px;
            margin-top: 20px;
            .speech {
                color: #384466;
                position: relative;
                width: 150px;
                height: 120px;
                padding: 10px;
                /*line-height: 100px;*/
                background-color: #fff;
                /*border: 8px solid #666;*/
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;

                @include vcenter;
                font-weight: bold;

                &:after {
                    content: ' ';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 38px;
                    top: 120px;
                    border: 15px solid;
                    border-color: #fff transparent transparent #fff;
                }
            }
            
            .num {
                margin-top: 25px;
                margin-left: 25px;
                font-size: 45px;
                font-family: lato;
            }
        }

        .survey_action {
            float: left;
            margin-left: 30px;
            margin-top: 20px;
        }

    }

    .survey_report_container {
        img#deals {
            position: absolute;
            top:-220px;
            left: 100px;
        }

        img#survey_report {
            margin-top: 40px;
            width: 100%;
        }
    }



    /******************************
     COMPETITTIVE ANALYSIS 
    *******************************/
    #competitiveanaylsis {
        .competitors {
            img {
                width: 100%;
            }
        }
        .competitor_1, .competitor_2 {
            margin-top: 100px;
        }

        background-color:#353b42;

        #westfield_img, #simon_img {
            padding: 0px;
            margin-bottom: 20px;
            width: 100%;
        }
        .emphasis {
            font-weight: 500;
        }
        .description {
            padding: 0px 0px 0px 0px;
        }

        ul {
            padding: 0px;
            margin-top: 10px;

            li {
                list-style-type: none;
                white-space: nowrap;
                @include vcenter;
                line-height: 24px;
                text-align: left;
                white-space: pre-wrap;

                &.thumbup {
                    background-position: 0 0;   
                }

                &.thumbdown {
                    background-position: 0 -70px;   
                }
            }
        } 
    }


    /******************************
     PERSONA
    *******************************/
    #persona {
        background-color: #57618e;

        .persona {
            min-height: 300px;
            .user_quote {
                font-size: 32px;
                line-height: 40px;
            }


            .user_title {
                margin: 20px 0;
            }
        }

    }


    /******************************
     USER FLOW
    *******************************/
    #userflow {
        background-image: url(../images/background/userflow.jpg);

        #userflow_chart {
            img {
                width: 100%;
            }
        }

        #scenarios, #userflow_chart {
            margin-top: 50px;
        }

            .scenario {
                &.first {
                    margin-top: -20px;
                }
                margin-bottom: 50px;
            }
    }


    /******************************
     USABILITY 1
    *******************************/
    #usability_1 {
        background-image: url(../images/background/usability_1.jpg);
        #usability_report_1 {
            background: rgba(00,00,00, 0.7);            
            padding: 10px;

            ul li {
                line-height: 35px;
            }

            #uservoice {
                margin-top: 35px;
                #clickme_btn {
                    position: relative;
                    top: -120px;
                    left: 80px;
                }
            }
        }

        #sketch {
            position: absolute;
            display: none;

            img {
                width: 80%;
            }
        }
    }



    /******************************
     WIREFRAME 1
    *******************************/

    #wireframe_1 {
        background-image: url(../images/background/wireframe_1.jpg);

        #wireframe_description {
            /*@include vcenter;*/
            font-size: 30px;
            text-align: left;
            margin-top: 20%;
        }
    }




    /******************************
     USABILITY 2
    *******************************/
    #usability_2 {
        background-image: 
            url(../images/background/usability_2.jpg);

        #founding_2 {
            margin-top: 70px;
            ul li {
                line-height: 35px;
            }

            #quote {
                margin-top: 60px;
                p {
                    font-size: 30px;
                    font-weight: 500;
                }
                #quote_pointer {
                    display: none;
                    position: relative;
                    left: 160px;
                    top: -30px;
                }
            }
        }
        
        .video {
            margin-top: 70px;
        }
    }





    /******************************
     REFINE
    *******************************/
    #refine {
        background: 
            url(../images/background/wireframe-lofi.jpg) no-repeat 50%,
            url(../images/background/wireframe_bg_dot.png) repeat;


        #refine_description {
            /*@include vcenter;*/
            margin-top: 10%;
            font-size: 30px;
            text-align: left;

            #wireframe_download {
                margin-top: 20px;
                font-size: 18px;
                width: 100%;
            }
        }
    }


    /******************************
     CONCLUSTON
    *******************************/
    #conclusion {
        background-color: #353b42;
        #conclusion {
            margin-top: 20px;
            font-size: 24px;
            .emphasis {
                @include emphasis;
            }
        }
        #interactive_prototype img {
            margin: 70px auto 70px auto;
            display: block;
        }
    }
} // end media query (iphone screen size)

/******************************************************************************************
End Iphone portrate minwidth: 0px maxwidth: 320px
 *******************************************************************************************/
 


/******************************************************************************************
Begin Iphone landscape minwidth: 321px maxwidth: 600px  
 *******************************************************************************************/
/*@media screen and (min-width: 800px) and (max-width: 1280px){*/
$min-width: 321px;
$max-width: 600px;
// $min-height: 480px;
@media screen and (min-width: $min-width) and (max-width: $max-width){
    $max_slide_height: 800px;


    .container-fluid {
        padding: 0px;
        min-width: $min-width;
        max-width: $max-width;        
    }

    h1 {
        font-family: Lato, George;
        font-size: 30px;
    }

    h2 {
        font-family: Source Sans Pro, George;
        font-size: 24px;
    }

    .slide {
        @include bgstyle;
        font-family: Source Sans Pro, George;
        font-weight: 300;
        color: #fff;
        position: relative;
        min-height: 100%;
        //max-height: $max_slide_height;

        .content_container {
            position: relative;
            padding: 10px;
            margin: 0px;
            font-size: 20px;
            font-family: Source Sans Pro, Open Sans;
            font-weight: 300;
            min-height: 100%;
            height: 100%;
            /*overflow: hidden;*/
            .note {
                background-color: #fff;
                padding: 5px 10px;
                margin: 20px 0px;
                max-width: 700px;
                font-family: Source Sans Pro, Open Sans;
                color: #384466;
                font-size: 20px;
                .emphasis {
                    @include emphasis;
                }
            }
        }

    }







    /******************************
     MAIN 
    *******************************/

    #main {
        background: 
            /*url(../images/handwithphone.png) no-repeat bottom right/40% 60%,*/
            url(../images/handwithphone.png) no-repeat bottom right/320px 480px,
            url(../images/background/main.jpg); 

        .content_container {
            padding:0px;    
        }

        .handwithphone {
            display: block;
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 550px;
            z-index: 99;
        }


        #description {
            // width: 50%;
            min-width: $min-width;
            min-height: $min-height;
            // margin-top: 120px;
            position: relative;            
            background: rgba(00, 00, 00, 0.5); 
            padding: 15px 20px;

            #project_title {
                font-size: 15px;
                font-weight: 300;
            }

            #app_name {
                margin: 10px 0px; 
                img {
                    width: 280px;
                }
            }

            #project_description {
                font-size: 25px;
                font-weight: 300;
                .emphasis {
                    @include emphasis;
                }
            }

        }
    }


    /******************************
     SURVEY
    *******************************/
    #survey {
        background-image: url(../images/background/survey.jpg);

        .reports {
            #survey_note {
                    // position: absolute;
                    // left: 160px !important;
                    // top: 20px !important;
                    background-color: rgba(00,00,00,0.7);
                    padding:10px;
                    img {
                        width: 390px;
                    }
                }

            img {
                margin-top:15px;
                
                &#survey_report, &#stats, &#survey_note {
                    width: 100%;
                }
            }
        }

        .other_reports {
            padding-top: 20px;
            
            p {
                display: none;
            }

            button {
                width: 100%;
                margin-bottom: 20px;
                margin-right: 50px;
            }
        }

    }

    .stat_container {
        margin-top: 20px;
        float: left;

        .speech_module {
            float: left;
            margin-right: 20px;
            margin-top: 20px;
            .speech {
                color: #384466;
                position: relative;
                width: 150px;
                height: 120px;
                padding: 10px;
                /*line-height: 100px;*/
                background-color: #fff;
                /*border: 8px solid #666;*/
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;

                @include vcenter;
                font-weight: bold;

                &:after {
                    content: ' ';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 38px;
                    top: 120px;
                    border: 15px solid;
                    border-color: #fff transparent transparent #fff;
                }
            }
            
            .num {
                margin-top: 25px;
                margin-left: 25px;
                font-size: 45px;
                font-family: lato;
            }
        }

        .survey_action {
            float: left;
            margin-left: 30px;
            margin-top: 20px;
        }

    }

    .survey_report_container {
        img#deals {
            position: absolute;
            top:-220px;
            left: 100px;
        }

        img#survey_report {
            margin-top: 40px;
            width: 100%;
        }
    }



    /******************************
     COMPETITTIVE ANALYSIS 
    *******************************/
    #competitiveanaylsis {
        .competitors {
            img {
                width: 100%;
            }
        }
        .competitor_1, .competitor_2 {
            margin-top: 100px;
        }

        background-color:#353b42;

        #westfield_img, #simon_img {
            padding: 0px;
            margin-bottom: 20px;
            width: 100%;
        }
        .emphasis {
            font-weight: 500;
        }
        .description {
            padding: 0px 0px 0px 0px;
        }

        ul {
            padding: 0px;
            margin-top: 10px;

            li {
                list-style-type: none;
                white-space: nowrap;
                @include vcenter;
                line-height: 24px;
                text-align: left;
                white-space: pre-wrap;

                &.thumbup {
                    background-position: 0 0;   
                }

                &.thumbdown {
                    background-position: 0 -70px;   
                }
            }
        } 
    }


    /******************************
     PERSONA
    *******************************/
    #persona {
        background-color: #57618e;

        .persona {
            min-height: 300px;
            .user_quote {
                font-size: 32px;
                line-height: 40px;
            }


            .user_title {
                margin: 20px 0;
            }
        }

    }


    /******************************
     USER FLOW
    *******************************/
    #userflow {
        background-image: url(../images/background/userflow.jpg);

        #userflow_chart {
            img {
                width: 100%;
            }
        }

        #scenarios, #userflow_chart {
            margin-top: 50px;
        }

            .scenario {
                &.first {
                    margin-top: -20px;
                }
                margin-bottom: 50px;
            }
    }


    /******************************
     USABILITY 1
    *******************************/
    #usability_1 {
        background-image: url(../images/background/usability_1.jpg);
        #usability_report_1 {
            background: rgba(00,00,00, 0.7);            
            padding: 10px;

            ul li {
                line-height: 35px;
            }

            #uservoice {
                margin-top: 35px;
                #clickme_btn {
                    position: relative;
                    top: -45px;
                    left: -5px;
                }
            }
        }

        #sketch {
            position: absolute;
            display: none;

            img {
                width: 80%;
            }
        }
    }



    /******************************
     WIREFRAME 1
    *******************************/

    #wireframe_1 {
        background-image: url(../images/background/wireframe_1.jpg);

        #wireframe_description {
            /*@include vcenter;*/
            font-size: 30px;
            text-align: left;
            margin-top: 20%;
        }
    }




    /******************************
     USABILITY 2
    *******************************/
    #usability_2 {
        background-image: 
            url(../images/background/usability_2.jpg);

        #founding_2 {
            margin-top: 70px;
            ul li {
                line-height: 35px;
            }

            #quote {
                margin-top: 60px;
                p {
                    font-size: 30px;
                    font-weight: 500;
                }
                #quote_pointer {
                    display: none;
                    position: relative;
                    left: 160px;
                    top: -30px;
                }
            }
        }
        
        .video {
            margin-top: 70px;
        }
    }





    /******************************
     REFINE
    *******************************/
    #refine {
        background: 
            url(../images/background/wireframe-lofi.jpg) no-repeat 50%,
            url(../images/background/wireframe_bg_dot.png) repeat;


        #refine_description {
            /*@include vcenter;*/
            margin-top: 10%;
            font-size: 30px;
            text-align: left;

            #wireframe_download {
                margin-top: 20px;
                font-size: 18px;
                width: 100%;
            }
        }
    }


    /******************************
     CONCLUSTON
    *******************************/
    #conclusion {
        background-color: #353b42;
        #conclusion {
            margin-top: 20px;
            font-size: 24px;
            .emphasis {
                @include emphasis;
            }
        }
        #interactive_prototype img {
            margin: 70px auto 70px auto;
            display: block;
        }
    }
} // end media query (iphone screen size)

/******************************************************************************************
End Iphone portrate minwidth: 321px maxwidth: 600px  
 *******************************************************************************************/







/******************************************************************************************
Begin Tablet minwidth: 601px maxwidth: 800px  
 *******************************************************************************************/
/*@media screen and (min-width: 800px) and (max-width: 1280px){*/
$min-width: 321px;
$max-width: 600px;
// $min-height: 480px;
@media screen and (min-width: $min-width) and (max-width: $max-width){
    $max_slide_height: 800px;


    .container-fluid {
        padding: 0px;
        min-width: $min-width;
        max-width: $max-width;        
    }

    h1 {
        font-family: Lato, George;
        font-size: 35px;
    }

    h2 {
        font-family: Source Sans Pro, George;
        font-size: 24px;
    }

    .slide {
        @include bgstyle;
        font-family: Source Sans Pro, George;
        font-weight: 300;
        color: #fff;
        position: relative;
        min-height: 100%;
        //max-height: $max_slide_height;

        .content_container {
            position: relative;
            padding: 10px;
            margin: 0px;
            font-size: 20px;
            font-family: Source Sans Pro, Open Sans;
            font-weight: 300;
            min-height: 100%;
            height: 100%;
            /*overflow: hidden;*/
            .note {
                background-color: #fff;
                padding: 5px 10px;
                margin: 20px 0px;
                max-width: 700px;
                font-family: Source Sans Pro, Open Sans;
                color: #384466;
                font-size: 20px;
                .emphasis {
                    @include emphasis;
                }
            }
        }

    }







    /******************************
     MAIN 
    *******************************/

    #main {
        background: 
            /*url(../images/handwithphone.png) no-repeat bottom right/40% 60%,*/
            url(../images/handwithphone.png) no-repeat bottom right/320px 390px,
            url(../images/background/main.jpg); 

        .content_container {
            padding:0px;    
        }

        .handwithphone {
            display: block;
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 550px;
            z-index: 99;
        }


        #description {
            // width: 50%;
            min-width: $min-width;
            min-height: $min-height;
            margin-top: 120px;
            position: relative;            
            background: rgba(00, 00, 00, 0.5); 
            padding: 15px 20px;

            #project_title {
                font-size: 15px;
                font-weight: 300;
            }

            #app_name {
                margin: 10px 0px; 
                img {
                    width: 280px;
                }
            }

            #project_description {
                font-size: 25px;
                font-weight: 300;
                .emphasis {
                    @include emphasis;
                }
            }

        }
    }


    /******************************
     SURVEY
    *******************************/
    #survey {
        background-image: url(../images/background/survey.jpg);

        .reports {
            #survey_note {
                    // position: absolute;
                    // left: 160px !important;
                    // top: 20px !important;
                    background-color: rgba(00,00,00,0.7);
                    padding:10px;
                    img {
                        width: 520px;
                    }
                }

            img {
                margin-top:15px;
                
                &#survey_report, &#stats, &#survey_note {
                    width: 100%;
                }
            }
        }

        .other_reports {
            padding-top: 20px;
            
            p {
                display: none;
            }

            button {
                width: 100%;
                margin-bottom: 20px;
                margin-right: 50px;
            }
        }

    }

    .stat_container {
        margin-top: 20px;
        float: left;

        .speech_module {
            float: left;
            margin-right: 20px;
            margin-top: 20px;
            .speech {
                color: #384466;
                position: relative;
                width: 150px;
                height: 120px;
                padding: 10px;
                /*line-height: 100px;*/
                background-color: #fff;
                /*border: 8px solid #666;*/
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;

                @include vcenter;
                font-weight: bold;

                &:after {
                    content: ' ';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 38px;
                    top: 120px;
                    border: 15px solid;
                    border-color: #fff transparent transparent #fff;
                }
            }
            
            .num {
                margin-top: 25px;
                margin-left: 25px;
                font-size: 45px;
                font-family: lato;
            }
        }

        .survey_action {
            float: left;
            margin-left: 30px;
            margin-top: 20px;
        }

    }

    .survey_report_container {
        img#deals {
            position: absolute;
            top:-220px;
            left: 100px;
        }

        img#survey_report {
            margin-top: 40px;
            width: 100%;
        }
    }



    /******************************
     COMPETITTIVE ANALYSIS 
    *******************************/
    #competitiveanaylsis {
        .competitors {
            img {
                width: 100%;
            }
        }
        .competitor_1, .competitor_2 {
            margin-top: 100px;
        }

        background-color:#353b42;

        #westfield_img, #simon_img {
            padding: 0px;
            margin-bottom: 20px;
            width: 100%;
        }
        .emphasis {
            font-weight: 500;
        }
        .description {
            padding: 0px 0px 0px 0px;
        }

        ul {
            padding: 0px;
            margin-top: 10px;

            li {
                list-style-type: none;
                white-space: nowrap;
                @include vcenter;
                line-height: 24px;
                text-align: left;
                white-space: pre-wrap;

                &.thumbup {
                    background-position: 0 0;   
                }

                &.thumbdown {
                    background-position: 0 -70px;   
                }
            }
        } 
    }


    /******************************
     PERSONA
    *******************************/
    #persona {
        background-color: #57618e;

        .persona {
            min-height: 300px;
            .user_quote {
                font-size: 32px;
                line-height: 40px;
            }


            .user_title {
                margin: 20px 0;
            }
        }

    }


    /******************************
     USER FLOW
    *******************************/
    #userflow {
        background-image: url(../images/background/userflow.jpg);

        #userflow_chart {
            img {
                width: 100%;
            }
        }

        #scenarios, #userflow_chart {
            margin-top: 50px;
        }

            .scenario {
                &.first {
                    margin-top: -20px;
                }
                margin-bottom: 50px;
            }
    }


    /******************************
     USABILITY 1
    *******************************/
    #usability_1 {
        background-image: url(../images/background/usability_1.jpg);
        #usability_report_1 {
            background: rgba(00,00,00, 0.7);            
            padding: 10px;

            ul li {
                line-height: 35px;
            }

            #uservoice {
                margin-top: 35px;
                #clickme_btn {
                    position: relative;
                    top: -45px;
                    left: -5px;
                }
            }
        }

        #sketch {
            position: absolute;
            display: none;

            img {
                width: 80%;
            }
        }
    }



    /******************************
     WIREFRAME 1
    *******************************/

    #wireframe_1 {
        background-image: url(../images/background/wireframe_1.jpg);

        #wireframe_description {
            /*@include vcenter;*/
            font-size: 30px;
            text-align: left;
            margin-top: 150px;
        }
    }




    /******************************
     USABILITY 2
    *******************************/
    #usability_2 {
        background-image: 
            url(../images/background/usability_2.jpg);

        #founding_2 {
            margin-top: 70px;
            ul li {
                line-height: 35px;
            }

            #quote {
                margin-top: 30px;
                p {
                    font-size: 30px;
                    font-weight: 500;
                }
                #quote_pointer {
                    display: none;
                    position: relative;
                    left: 160px;
                    top: -30px;
                }
            }
        }
        
        .video {
            margin-top: 30px;
        }
    }


    /******************************
     REFINE
    *******************************/
    #refine {
        background: 
            url(../images/background/wireframe-lofi.jpg) no-repeat 50%,
            url(../images/background/wireframe_bg_dot.png) repeat;


        #refine_description {
            /*@include vcenter;*/
            margin-top: 150px;
            font-size: 30px;
            text-align: left;

            #wireframe_download {
                margin-top: 20px;
                font-size: 18px;
                width: 100%;
            }
        }
    }


    /******************************
     CONCLUSTON
    *******************************/
    #conclusion {
        background-color: #353b42;
        #conclusion {
            margin-top: 20px;
            font-size: 24px;
            .emphasis {
                @include emphasis;
            }
        }
        #interactive_prototype img {
            margin: 70px auto 70px auto;
            display: block;
        }
    }
} // end media query (iphone screen size)

/******************************************************************************************
End Tablet minwidth: 601px maxwidth: 800px  
 *******************************************************************************************/


